<div class="portada">
  <fnf-header></fnf-header>
  <div class="hero-spacer"></div>
  <div><img src="assets/dorian.webp" alt="dorian" /></div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat turpis ut neque
    laoreet, sit amet consectetur velit feugiat. Quisque vehicula tincidunt finibus. Fusce ac
    faucibus libero, quis eleifend augue. Vestibulum dignissim nisi enim, vitae auctor arcu laoreet
    et. Cras mollis, nulla et tincidunt vehicula, nisl justo efficitur ipsum, et tincidunt elit
    risus vitae sem. Aenean vehicula tincidunt porta. Suspendisse ultricies posuere efficitur.
    Maecenas et risus pharetra nulla tempus euismod convallis ac nulla. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu urna ut neque
    hendrerit commodo congue at velit. Vestibulum sodales ligula et sem egestas feugiat. Suspendisse
    risus odio, pretium non nunc sit amet, tempor pellentesque lorem. Pellentesque eget aliquam
    tellus. Praesent tempus tristique enim in elementum. Praesent luctus sem sit amet mauris
    elementum, vitae suscipit neque vestibulum. In pellentesque arcu velit, sed fringilla eros
    consequat at. Duis eu molestie mi. Vestibulum ultrices mi eu magna iaculis sagittis. Ut
    imperdiet erat ac arcu porttitor rhoncus. Pellentesque augue elit, rutrum sit amet laoreet nec,
    varius vitae sem. In aliquet cursus nisi nec elementum. Nullam ut quam elit. Proin sed facilisis
    neque. Duis pellentesque nunc ac dolor iaculis, in porttitor sapien sodales. Nunc volutpat lorem
    ac sem placerat hendrerit. Integer condimentum felis eu nibh viverra elementum. Aenean finibus
    imperdiet enim. Curabitur et eros ut massa lacinia sagittis. Praesent porttitor, massa fermentum
    pretium eleifend, arcu lacus accumsan erat, non tristique urna turpis quis dui. Curabitur a
    augue velit. Vestibulum lacinia orci id magna lobortis molestie. Nam condimentum metus quis
    neque sodales, at eleifend dolor blandit. Mauris lobortis nulla at dui efficitur, eu facilisis
    dolor maximus. Curabitur varius commodo est, a ullamcorper lectus euismod vitae. Etiam pharetra
    quam sem, eget feugiat quam commodo a. Fusce feugiat suscipit bibendum. Quisque id neque at
    metus pharetra tristique sed nec leo. Duis non ipsum eu sapien aliquam venenatis rutrum eget
    ante. Fusce lacinia tortor eget gravida elementum. Maecenas eget tincidunt elit, vitae porttitor
    nisl. Sed viverra erat sed luctus malesuada. In vestibulum arcu nibh, ac tempus ligula
    scelerisque vel. Quisque faucibus felis elit, non egestas arcu condimentum eu. Curabitur ornare
    efficitur maximus. Suspendisse vitae turpis ex. Nullam pretium tincidunt porttitor. Sed sit amet
    pretium ipsum. Cras vel varius lectus. Nunc in faucibus tellus. Quisque in rhoncus lorem, nec
    commodo lorem.
  </div>
</div>
